certifi==2017.11.5
chardet==3.0.4
Django==1.9
django-allauth==0.34.0
django-paypal==0.2.5
django-payu==0.5
django-widget-tweaks==1.4.1
djangorestframework==3.8.2
idna==2.6
MySQL-python==1.2.5
nltk==3.3
oauthlib==2.0.6
PySocks==1.6.8
python-openid==2.2.5
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
South==1.0.2
textblob==0.15.1
tweepy==3.6.0
urllib3==1.22
win-inet-pton==1.0.1
